[Unit]
Description=Z39.50 Server
After=opensrf.service

[Service]
User=opensrf
Group=opensrf
StandardOutput=journal
# These values can be overridden in /etc/systemd/system/oils-z3950.service.d/override.conf
SyslogFacility=local5
SyslogLevel=info
SyslogIdentifier=z3950
Environment=Z3950_CONFIG=/openils/conf/oils_z3950.xml
Environment=YAZ_CONFIG=/openils/conf/oils_yaz.xml
Environment=PATH=/openils/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/usr/bin/simple2zoom -c $Z3950_CONFIG -- -f $YAZ_CONFIG

[Install]
WantedBy=multi-user.target

