[Unit]
Description=Open Service Request Framework
After=ejabberd.service memcached.service
Before=clark-kent.service oils-sip.service oils-z3950.service apache2.service websocketd.service nginx.service
Wants=clark-kent.service oils-sip.service oils-z3950.service apache2.service websocketd.service nginx.service

[Service]
User=opensrf
Group=opensrf
Type=oneshot
RemainAfterExit=yes
# to use the fqdn in the config file, put Environment=LOCALHOST= in /etc/systemd/system/opensrf.service.d/override.conf
Environment=LOCALHOST="-l"
Environment="PATH=/openils/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/openils/bin/osrf_control --start-all $LOCALHOST
ExecStop=/openils/bin/osrf_control --stop-all $LOCALHOST

[Install]
Alias=evergreen.service
WantedBy=multi-user.target

